body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

$blue_color: #00ffff;
$gray: #454241;
$blown: #8f6552;
$square_len: 5.6vw;
$cross-section_len: 1.6vw;
$cross-section_extend_len: 0.5vw;


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  position: relative;
  background: #fff;
  border: 0.1vw solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: $square_len;
  height: $square_len;
  width: $square_len;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.channel-row {
  clear: both;
  content: "";
  display: table;
}

.channel {
  position: relative;
  background: $gray;
    margin: 0;
    float: left;
    padding: 0;
}

.vertical {
  height: $square_len+0.2;
  width: $cross-section_len;
}

.horizontal {
  height: $cross-section_len;
  width:  $square_len+0.2;
}

.cross-section{
  background: $gray;
  content: '';
  float: left;
  position: relative;
  height: $cross-section_len;
  margin: 0;
  padding: 0;
  width: $cross-section_len;
}

.cross-section:after{
  cursor: pointer;
  content: '';
  position: relative;
  z-index: 1;
  background: #fff;
  opacity: 0;
  left: -$cross-section_extend_len;
  top: -$cross-section_extend_len;
  float: left;
  height: $cross-section_len+$cross-section_extend_len;
  margin: -$cross-section_extend_len;
  padding: 0;
  border: solid 1vw #fff;
  width: $cross-section_len+$cross-section_extend_len;
}

.putted {
  background: $blown;
}


.can-click {
  background: $blue_color;
}


.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
